@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    width: 20%;
    margin: 0 auto;
    font-family: 'Raleway',sans-serif;
}
article{
    background: #34469c;;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

#towns {
    list-style-type: none;
    padding: 0;
}

#towns li {
    margin: 10px auto;
    width: 90%;
    text-align: left;
    color: white;
}

#searchText{
    background: white;
    text-decoration: none;
    margin: 15px auto;
    width: 90%;
    padding:5px 10px;
    text-align: left;
}

button {
    background: white;
    margin-left:8px;
    padding: 8px 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: #34469c;;
    text-transform: uppercase;
    border: 2px solid white;

}

button:hover {
    color: white;
    background: #34469c;;
    border: 2px solid white;
}
#result {
    padding: 10px;
    margin: 10px;
    color: white;
}
