@model TaskFormModel

@{
    ViewBag.Title = "Create Task";
}

<link href="~/css/style.css" rel="stylesheet" type="text/css" />

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="Create">
    @await Html.PartialAsync("_TaskFormPartial.cshtml", Model)
    <input class="btn btn-primary" type="submit" value="Create" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}