html {
  font-family: Helvetica, sans-serif;
}

body {
  padding: 20px;
}

header {
  border-bottom: solid 2px black;
}

header * {
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(82, 211, 82);
  margin: 5px 10px;
  vertical-align: middle;
  font-weight: 520;
}
