@import "https://use.fontawesome.com/releases/v6.1.2/css/all.css";

body {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;   
    margin: 10px;
}

nav {
    width: 200px;
    border:1px solid #e3e3e3;
    font-size: 14px;
    line-height: 20px;
    background-color: #f5f5f5;
}

li {
    list-style: none;
    line-height: 25px;
    margin-left: -15px;
    color: #c83025;
}

a {
    text-decoration: none;
    color: #c83025;
}

i {
    width: 1.14em;
    padding-right: 0.28em;
}

button {
    padding: 4px 12px;
    line-height: 20px;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.shopping {
    background-color: #83a94c;
}

.info {
    background-color: #008ed0;
}

.delete {
    background-color: #cc4036;
}
