body {
    background-color: rgb(238, 238, 238);
    padding: 1rem;
  }
  
  .card {
    background-color: white;
    font-size: 1rem;
    margin-bottom: 2.1vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .card > img {
    width: 100%;
  }
  
  .card > section {
    margin: 2rem;
  }
  
  .card > footer {
    padding: 2rem;
    align-self: flex-end;
    border-top: 1px solid rgb(238, 238, 238);
  }
  
  .card > h3 {
    font-size: 1.5rem;
  }
  
  .cards-layout.masonry {
    display: flex;
    gap: 2.1vw;
  }
  
  .cards-layout.flex {
    display: flex;
    gap: 2.1vw;
    flex-wrap: wrap;
  }
  
  .cards-layout.flex .card{
    width: calc((100% - (2.1vw * 2)) / 3);
  }
  
  img {
    max-width: 500px;
  }
  
  .flex_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1vw;
  }
  
  .flex_container .flex_item {
    width: calc((100% - (2.1vw * 2)) / 3);
  }
