body {
  background-color: rgb(238, 238, 238);
  font-family: Georgia, serif;
  font-size: 1em;
  margin-left: 20px;
}

header {
  font-size: 1.2em;
}

a {
  color: rgb(0, 102, 0);
}

img {
  background-color: rgb(255, 255, 255);
}

.first-image,
.second-image {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25);
  border: solid 2px black;
}

blockquote {
  font-family: Georgia, serif;
}

.home {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 20px 20px 20px 900px;
}

.first-header {
  display: flex;
}
