body {
    display: grid;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
    grid-template-columns: 100px auto;
    gap: 10px;
  }
  
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  
  header,
  aside,
  main,
  footer {
    background-color: rgb(181, 216, 255);
    border-radius: 3px;
    padding: 5px 10px;
  }

  nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
  }

  nav > ul > li {
    list-style: none;
    display: inline;
    padding: 2rem;
  }
  
  body > header > h1 {
    display: inline-block;
    vertical-align: middle;
  }
  
  body > aside > ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
  }
  
  body > aside > ul > li > a {
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: rgb(53, 100, 153);
    padding: 5px 15px;
  }

  @media (max-width: 500px) {
    a, nav {
        display: block;
        padding-left: 5px;
    }

    ul, nav {
        margin: 0;
        padding: 0;
    }
  }
