div {
  width: 280px;
  display: inline-block;
  padding: 16px 16px 16px 32px;
  margin-top: 20px;
  background-color: #0a2c48;
  color: #fff;
  border-radius: 4px;
}

div:hover {
  background-color: #2a4c68;
}

p {
  color: #c9d6ff;
  font-size: 18px;
}
