body{
    max-width: 1100px;
    margin: auto;
}

.product-image {
    float: left;
    width: 20%;
  }
  
  .product-details {
    float: left;
    width: 37%;
  }
  
  .product-price {
    float: left;
    width: 12%;
  }
  
  .product-add {
    float: left;
    width: 9%;
  }
  
  .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
  }
  
  /* This is used as the traditional .clearfix class */
  .shopping-cart:before, .column-labels:before, .product:before, .shopping-cart:after, .column-labels:after, .product:after {
    content: '';
    display: table;
  }
  
  .shopping-cart:after, .column-labels:after, .product:after {
    clear: both;
  }
  
  .shopping-cart, .column-labels, .product {
    zoom: 1;
  }
  
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  .product .product-line-price:before {
    content: '$';
  }
  
  /* Body/Header stuff */
  body {
    padding: 0px 30px 30px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }
  
  h1 {
    font-weight: 100;
  }
  
  label {
    color: #aaa;
  }
  
  .shopping-cart {
    margin-top: -45px;
  }
  
  /* Column headers */
  .column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-add {
    text-indent: -9999px;
  }
  
  /* Product entries */
  .product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .product .product-image {
    text-align: center;
  }
  .product .product-image img {
    width: 100px;
  }
  .product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  .product .add-product {
    border: 0;
    padding: 4px 8px;
    background-color: rgb(153, 202, 153);
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
  }
  .product .add-product:hover {
    background-color: green;
  }
  
  /* Totals section */
  
  .checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .checkout:hover {
    background-color: #494;
  }
  
  /* Make adjustments for tablet */
  @media screen and (max-width: 650px) {
    .shopping-cart {
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
  
    .column-labels {
      display: none;
    }
  
    .product-image {
      float: right;
      width: auto;
    }
    .product-image img {
      margin: 0 0 10px 10px;
    }
  
    .product-details {
      float: none;
      margin-bottom: 10px;
      width: auto;
    }
  
    .product-price {
      clear: both;
      width: 70px;
    }
  
    .product-add {
      width: auto;
    }
  
    .product-line-price {
      float: right;
      width: 70px;
    }
  }

  textarea {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    resize: none;
    font-size: 22px;
}

  /* Make more adjustments for phone */
  @media screen and (max-width: 350px) {
    .product-add {
      float: right;
    }
  
    .product-line-price {
      float: right;
      clear: left;
      width: auto;
      margin-top: 10px;
    }
  
    .product .product-line-price:before {
      content: 'Item Total: $';
    }
    
  }
  
