header {
    background-color: #f2dcbb;
    padding: 15px;
}

body {
    background-color: #f9f7cf;
    width: 480px;
    padding: 5px;
}

footer {
    background-color: #f2dcbb;
    padding: 15px;
}
