@media screen and (max-width: 600px) {
  .banner {
    max-width: 600px;
    text-align: center;
  }

  .banner {
    padding: 2em;
  }

  .banner h2 {
    width: 100%;
    font-size: 1em;
  }

  .banner p {
    margin: 10% 0 2% 0;
  }

  .banner .actions {
    margin: 10% 0 5% 0;
  }

  .major h2 {
    font-size: 1.4em;
  }

  ul.actions li {
    display: block;
  }

  ul.actions li a {
    width: 100%;
  }

  .wrapper > .inner {
    width: 100%;
  }

  header.major {
    width: 100%;
    margin-bottom: 5%;
  }

  .wrapper.special {
    padding: 5% 2%;
    padding-bottom: 0;
  }

  .features {
    width: 100%;
    flex-direction: column;
  }

  .feature {
    width: 100%;
  }

  .wrapper > .inner.narrow {
    width: 100%;
  }

  .grid-form {
    flex-direction: column;
  }

  .grid-form .form-control.narrow {
    width: 100%;
  }

  .actions input {
    display: block;
    width: 100%;
    padding: 0;
  }

  element.style {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }

  .footer {
    width: 100%;
    padding: 5% 0 0 0;
  }
}
