body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    
}

article {
    width: 280px;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: xx-large;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    justify-content: space-between;
    margin: 5rem auto;
    
}
