@media screen and (max-width: 600px) {
  header nav {
    display: flex;
    flex-direction: column;
  }

  header nav ul li {
    display: flex;
    padding: 0.5rem 0;
  }

  header nav ul {
    margin-top: 1rem;
  }

  .header-title {
    padding: 0.5em;
  }

  .header-title h1 {
    font-size: 23px;
  }

  .header-title p {
    font-size: 10px;
  }

  .header-title button {
    font-size: 13px;
  }

  .about-us {
    transform: scale(0.8, 0.8);
    padding: 0;
    margin-top: 0;
  }

  .about-us p:nth-child(3) {
    width: 100%;
  }

  .team-description-wrapper {
    padding-top: 1rem;
    font-size: 0.6em;
  }

  .team-description-wrapper h3 {
    font-size: 18px;
  }

  .team-description-wrapper ul {
    flex-wrap: wrap;
  }

  .team-description-wrapper ul li img {
    width: 120px;
    height: 120px;
  }

  .team-description-wrapper ul li p {
    text-align: center;
  }

  .choose-us {
    padding-top: 10px;
  }

  .choose-us ul {
    flex-direction: column;
    font-size: 10px;
  }

  .choose-us ul li {
    padding: 0 40px;
  }

  .choose-us li img {
    width: 5rem;
    height: 5rem;
  }

  .blog-news ul {
    flex-direction: column;
  }

  .blog-news {
    font-size: 0.6em;
    padding-top: 2em;
  }

  .blog-news h3 {
    font-size: 20px;
  }

  .blog-news .avatar,
  .blog-news .item {
    width: 85%;
    margin: 0 9% 5% 9%;
  }

  footer {
    font-size: 10px;
  }
}
