body {
  background: linear-gradient(#e6e6e6, #bbbbbb);
  background-position: 0% 70%;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1016-c-08_1-ksh6mza3.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f584d8501c27c5f649bc2cfce50705c0");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  margin-left: 40%;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  color: #2e3641;
}

h2 {
  font-family: sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  padding: 15px 0 0 20px;
}
h3 {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #4e4c4c;
  margin: 0;
  padding: 50px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 1px;
  color: #4e4c4c;
  font-size: large;
}

p {
  text-decoration: none;
  color: #9eb2c0;
  margin: 7px 7px 7px 0px;
}

textarea {
  border-color: #dae4eb;
  color: #dae4eb;
}

input[type="text"] {
  border: solid 1px black;
  margin: 20px 0 0 20px;
  padding-left: 10px;
}

.container {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.bar {
  background-color: #f97e76;
  text-align: center;
  border-radius: 20px;
}

#publish-btn {
  display: inline-block;
  line-height: 35px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background: #f97e76;
  color: #ffffff;
  border: 1px solid black;
  text-align: center;
  outline: none;
  margin-left: 35%;
  width: 200px;
}

.action-btn {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: #f97e76;
  color: #ffffff;
  text-align: center;
  float: right;
  margin-right: 3px;
  margin-bottom: 3px;
  border: none;
  outline: none;
}

#clear-btn {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: #f97e76;
  color: #ffffff;
  text-align: center;
  margin: auto;
}

#main-container {
  width: 1350px;
  height: 200px;
  margin: 0 auto;
  padding: 80px;
}

#left-container {
  width: 70px;
  float: left;
}

#newPost {
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
  width: 500px;
  border-radius: 20px;
  background-color: #9eb2c0;
}

.newPostContent {
  width: 280px;
  padding-left: 40px;
  padding-top: 20px;
}

#task-title,
#task-category {
  width: 400px;
  height: 45px;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: bold;
}

#task-content {
  width: 380px;
  height: 100px;
  color: black;
  margin: 0 0 20px 0;
  font-size: 19px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid black;
}

.newPostContent .btn {
  width: 120px;
  line-height: 45px;
}

#middle-container {
  width: 630px;
  float: right;
  margin: 0px 60px;
}

#review-list,
#published-list {
  padding: 0px;
}

.rpost {
  width: 100%;
  margin-bottom: 5px;
  display: inline-block;
}
.rpost span:first-child {
  color: #f97e76;
  font-size: 15px;
  font-weight: bold;
  line-height: 150%;
}

.rpost article {
  margin: 15px 0 5px 20px;
}

#review-list button{
  padding: 5px;
  float:left;
  margin-left: 20px;
}

.rpost strong {
  color: grey;
}

#recentPosts {
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
#relatedPosts {
  border-radius: 20px;
}
.container {
  border-radius: 20px;
}
