html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 115vh;
}

body {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(#e6e6e6, #bbbbbb);
    background-position: 0% 90%;
    background-image: url("https://image.slidesdocs.com/responsive-images/background/lines-abstract-simple-education-planners-asymmetry-powerpoint-background_da3e00f7b2__960_540.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main>h1 {
    display: block;
    text-align: center;
    padding: 10px;
    color: lightcoral;
    font-size: 600;
    font-size: 42px;
    padding: 10px;
    margin-bottom: 0.4em;
}

#main-container {
    position: relative;
    width: 500px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: white;
    margin-bottom: 1.7em;
}

#form {
    width: 460px;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
}

#form form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

#form>h1 {
    box-shadow: 0 2px 0px lightseagreen;
    padding: 4px;
    margin-bottom: 0.3em;
    color: lightcoral;
}

label {
    margin-top: 4px;
    color: lightseagreen;
    font-weight: bold;
}

#form form input,
#form form select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    border: none;
    border-bottom: 1.8px solid lightseagreen;
    padding: 5px;
    margin-top: 1.5px;
    position: relative;
    font-size: 14.5px;
}

textarea {
    border: none;
    border-bottom: 1.8px solid lightseagreen;
    font-size: 14.5px;
    resize: none;
}

#form form .form-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 12.5px;
}

#form form #date-val {
    display: flex;
    justify-content: space-between;
}

#form form #date-val select {
    width: 45%;
}

#form #add-course, #edit-course {
    background: lightseagreen;
    padding: 5px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 12pt;
    margin-top: 10px;
}

#form #edit-course:disabled {
    background-color: #bbbbbb;
}

#form #add-course:disabled {
    background-color: #bbbbbb;
}


#form #add-course:hover {
    background: transparent;
    box-shadow: 0 0 0 3px #4183d7;
    color: #4183d7;
}

.edit-btn,
.finish-btn {
    background: lightseagreen;
    padding: 6.5px;
    width: 140px;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 9pt;
    margin: 10px;
    margin-bottom: 5px;
}

button {
    cursor: pointer;
}

.edit-btn:hover,
.finish-btn:hover {
    background: transparent;
    box-shadow: 0 0 0 3px #666e1c;
    color: #666e1c;
}

.clear-btn, #load-course {
    background: lightseagreen;
    padding: 6.5px;
    width: 140px;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 9pt;
    margin-top: 1em;
}

.clear-btn:hover, #load-course:hover {
    background: transparent;
    box-shadow: 0 0 0 3px #da3a3a;
    color: #da3a3a;
}

.edit-btn:disabled,
.finish-btn:disabled {
    background: linear-gradient( 135deg, #bdbdbd 0%, #cfcfae 100%);
}

.edit-btn:disabled:hover,
.finish-btn:disabled:hover {
    box-shadow: none;
    color: #fcfcfc;
}

#progress-course {
    min-height: 220px;
}

h2 {
    padding: 5px;
    margin-top: 0.5em;
    color: lightseagreen;
    font-size: 23px;
    box-shadow: 0 2px 0px lightseagreen;
}

#progress-course {
    position: relative;
    background-color: rgba(255, 255, 255, 0.911);
    width: 350px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 2em;
}

#progress-course>h2,
#finished-course>h2 {
    font-size: 20px;
}

.container {
    /* box-shadow: 10px 10px 20px hsl(0, 54%, 46%);*/
    padding: 0px 4px 4px 4px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    word-break: break-all;
    position: relative;
    background-color: rgb(243, 244, 245);
    border: 4px outset lightseagreen;
    border-radius: 15px;
}

#wrapper {
    justify-content: center;
    display: flex;
}

.container {
    text-align: center;
    height: auto;
}

.container>h2 {
    color: lightsalmon;
    font-size: 16px;
    text-align: center;
    padding-left: 2px;
    padding: 3.5px;
    font-weight: 700;
    margin-bottom: -0.7em;
    margin-top: 0.25em;
}

.container>h3 {
    color: lightsalmon;
    font-size: 14px;
    text-align: left;
    padding-left: 2px;
    padding: 5px;
    font-weight: 600;
    margin-bottom: -1.68em;
}

.container>h4 {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
    text-align: left;
    padding: 5px;
    font-weight: 600;
    margin-bottom: -0.1em;
}
