body {
  background-color: rgb(212, 209, 209);
}

table,
th,
td {
  border: 1px solid gray;
  text-align: left;
  padding: 2px;
  padding-right: 150px;
}

table {
  margin: 20px;
}

th {
  background-color: black;
  color: #fff;
}

tr:first-child {
  background-color: rgb(234, 231, 231);
}

tr:nth-child(2) {
  background-color: #fff;
}
