@media screen and (max-width: 600px) {
  .left-to-right:first-child {
    height: min-content;
  }

  main .left-to-right:nth-child(1) article {
    width: 100%;
    height: 40%;
    border-radius: 18%;
    padding: 0;
    padding: 40px 50px;
    position: relative;
    right: 48px;
    bottom: 20px;
  }

  main > section:nth-child(3) > article {
    width: 100%;
    height: 40%;
    border-radius: 18%;
    padding: 0;
    padding: 10px 70px;
    position: relative;
    right: 45px;
  }

  main section.left-to-right:nth-child(3) {
    height: 80%;
  }

  header h1 {
    font-size: 18px;
  }

  .left-to-right p {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

  button {
    display: none;
  }

  main section:nth-child(2),
  main section:nth-child(4) {
    flex-direction: column;
  }

  main section:nth-child(2) article > header > h1 {
    font-size: 1.3em;
  }

  main section:nth-child(2) article > p {
    font-size: 0.8em;
  }

  main section:nth-child(2) article > header > p {
    font-size: 1em;
  }

  main section:nth-child(4) article form label {
    width: 75%;
  }

  main section:nth-child(4) > article > form > label:nth-child(4) {
    padding-left: 10%;
  }
}
