@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 90%;
  padding-top: 10px;
  padding-left: 50px;
}

header ul {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}

header ul li {
  list-style-type: none;
  font-size: 15px;
  padding-top: 5px;
}

header button {
  background-color: #9a5dc5;
  border: none;
  color: #fff;
  border-radius: 1rem;
  padding: 7px 15px;
}

.diploms p:nth-child(2) {
  padding-bottom: 20px;
}

.diploms p:nth-child(3),
.diploms p:nth-child(4) {
  color: gray;
  font-style: italic;
  line-height: 0.8;
}

.diploms {
  display: flex;
  padding: 0 50px;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  border-top: outset rgb(216, 212, 212) 5px;
  height: 300px;
}

.svg {
  background-color: #54546d;
  width: 450px;
  height: 450px;
  border-radius: 100%;
  position: relative;
  top: -170px;
  left: 6%;
}

.diploms-pics {
  position: absolute;
  right: 3%;
  top: 15%;
}

.diploms-text {
  width: 70%;
  color: #54546d;
}

.svg img {
  position: relative;
  top: 30%;
  right: -58%;
}

.diploms-2 {
  background-color: #14162b;
  color: #fff;
  display: flex;
}

.diploms-2 div:nth-child(1) {
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  width: 70%;
}

.diploms-2 div:nth-child(2) {
  position: relative;
  top: 60px;
}

.career-center {
  display: flex;
  padding: 50px;
}

.career-center div:nth-child(2) {
  padding-left: 50px;
  color: #54546d;
}

.career-center button {
  border: #9a5dc5 2px solid;
  border-radius: 2rem;
  color: #9a5dc5;
  background-color: #fff;
  padding: 10px 15px;
  margin-top: 20px;
}

footer {
  background-color: #2c2c3a;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer h4 {
  color: #9a5dc5;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer p {
  color: #fff;
}

footer i {
  width: 18%;
  font-size: 30px;
}
