html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: Georgia, serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

section {
  background-color: rgb(255, 255, 255);
  width: 400px;
}

button {
  background-color: rgb(0, 153, 0);
  margin-left: 75%;
  color: white;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.2em;
}

.card {
  padding: 10px 20px;
}
