@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

body {
  font-family: "Gelasio", sans-serif;
  font-size: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  color: #524633;
  padding: 1.3% 2%;
  align-items: center;
  background-color: #e6e3de;
}

a {
  text-decoration: none;
  color: inherit;
}

header > p {
  font-weight: 800;
}

header > nav > a {
  padding: 1em;
}

header button {
  border: none;
  background-color: #524633;
  color: #fff;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 24px;
}

header button:hover {
  background-color: transparent;
  color: #524633;
  border: #524633 3px solid;
}

header > div {
  display: flex;
}

header .fa-solid {
  margin-top: 2px;
  align-self: center;
}

.what {
  background-image: url("Media/craving.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

.what h1 {
  font-size: 2.8em;
  padding-bottom: 20px;
  padding-left: 15px;
  font-weight: 600;
}

.what .fa-solid {
  position: relative;
  left: 1.7%;
  color: #524633;
  z-index: 1;
  top: 4px;
}

.what div {
  position: relative;
  top: 36%;
}

.what input {
  opacity: calc(0.6);
  width: 25%;
  padding: 10px 0;
  border: none;
}

.big-image {
  background-image: url("Media/background.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 50% 35%;
}

.big-section .party img,
.big-section .royal img {
  width: 40%;
  height: 50%;
}

.party {
  display: flex;
  justify-content: center;
  padding: 3% 0;
}

.royal > div,
.party > div {
  width: 30%;
}

.white {
  background-color: #fff;
  height: 100%;
  text-align: center;
  color: #524633;
  font-weight: 800;
}

.white h4 {
  font-size: 2.2em;
  padding-top: 30%;
}

.white p {
  padding: 2% 3% 3% 3%;
  font-weight: 800;
  font-size: 1.4em;
}

.white button {
  border: none;
  background-color: #524633;
  color: #fff;
  padding: 10px 18px;
  margin-top: 3%;
  font-size: 20px;
}

.royal {
  display: flex;
  justify-content: center;
}

.images img {
  width: 200px;
}

.images {
  display: flex;
  flex-direction: column;
}

.images-img {
  display: flex;
  justify-content: center;
  gap: 4%;
}

.images-img div {
  display: flex;
  flex-direction: column;
}

.images-img > div p {
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  opacity: 0.5;
  font-style: italic;
}

.images > p {
  background-color: #fff;
  opacity: calc(0.6);
  width: 15%;
  text-align: center;
  align-self: center;
  padding: 10px;
  font-weight: 800;
  margin: 20px;
  box-shadow: 1px 1px 15px 4px grey;
}

.images button {
  align-self: center;
  background-color: #dd4f37;
  color: #fff;
  margin: 20px;
  border: none;
  width: 15%;
  padding: 10px 0;
  font-size: 20px;
}

.images button:hover {
  background-color: #ac2109;
}

footer {
  background-color: #fff;
  opacity: calc(0.7);
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

footer a {
  padding: 0 20px;
}

footer a:not(:first-child) {
  border-left: black 1px solid;
}

