html {
  box-sizing: border-box;
}

div {
  display: flex;
  max-width: 65vw;
  /* align-items: center; */
  max-width: 65vw;
}

section {
  display: flex;
  align-items: center;
}

span {
  border: solid 1px black;
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
}

.week {
  flex-wrap: wrap;
}

.notes {
  flex-direction: column;
}

.notes span {
  height: 50%;
}

.workweek {
  width: 100%;
}

.weekend {
  width: 100%;
}

.week span:nth-child(2),
.week span:nth-child(3),
.week span:nth-child(4),
.week span:nth-child(5),
.week span:nth-child(6) {
  flex: 20;
}

.week span:nth-child(8),
.week span:nth-child(9) {
  flex: 50;
}
