@media screen and (max-width: 600px) {
  #main-menu {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    position: relative;
    right: 120px;
  }

  #main-menu img {
    padding-left: 28px;
  }

  #main-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }

  #main-menu ul li {
    border: 1px solid red;
  }

  #left-aside {
    display: flex;
    justify-content: space-evenly;
  }

  #news {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #news article {
    width: 100%;
  }

  #right-aside {
    width: 90%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer ul {
    width: 50%;
  }
}
